.test{
    border: 1px solid red;
}

select, option{
height: 40px;
}

.form{
    max-width: 250px;
    margin: auto;

}


fieldset{

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

legend{
    border: 2px solid gray;
    text-align: left;
}

.switch{
    display:flex;
    flex-direction: column;
    padding-bottom: 10px;
    flex-basis: 50%;

}

.flex{
    display: flex;
    gap: 10px;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}
